# Qn:1.Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [ ]:
length= float(input(20:))
breadth= float(input(20:)) 
if length == breadth:
    print("The rectangle is a square.")

In [ ]:
length= float(input(20:))
breadth= float(input(10:))
if length == breadth:
     else:
        print("The rectangle is not a square")

# Qn:2. Take three integer values from the user and print the greatest among them.

In [1]:
x=100
y=200
z=300
if x>y and x>z:
    print(x, 'is the greatest.')
elif y>x and y>z:
      print(y, "is the greatest.")
else:
    print(z, "is the greatest.")

300 is the greatest.

# Qn: 3.A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [30]:
def can_sit_in_exam(attendance_percentage): 
      if attendance_percentage >= 75:
        return True 
      else:
        return False
    
total_classes = '50'
attended_classes = '17'

if (total_classes, attended_classes):
    print("The student is can to sit for the exam.")
else:
    print("The student is can not to sit for the exam.")

The student is can to sit for the exam.

# 4. A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [63]:
marks = float(input("enter your marks:"))
if marks <25:
    grade= 'F'
elif marks >=25 and marks <45:
    grade= 'E'
elif marks >=45 and marks <50:
    grade= 'D'
elif marks >=50 and marks <60:
    grade=  'C'
elif marks >=60 and marks <80:
    grade= 'B'
elif marks >=80 and marks  <90:
    grade= 'A'
else:
      grade= 'A+'
print('your grade is:',grade)

enter your marks:89
your grade is: A

# Qn:5.Print the following pattern using for and while loop.

In [111]:
for x in range(15): #using for loop
    print((1 2 3 4 5 6 7),
(1 2 3 4 5 6),
(1 2 3 4 5),
(1 2 3 4))

SyntaxError: invalid syntax (2978382942.py, line 2)

# Qn:6. Display numbers from -100 to -10 using for loop.

In [2]:
for i in range(-100, -9):
    print(i,end= " ")

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

# Qn:7. Write a program to sum all prime numbers
#within a range of 10 to 1000.

In [135]:
print("Sum of all prime numbers between 10 and 1000:", sum_primes(10, 1000))

Sum of all prime numbers between 10 and 1000: 76110

In [132]:
def is_prime(n):
    """Check if a number is prime."""
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

def sum_primes(start, end):
    """Sum all prime numbers within a range."""
    prime_sum = 0
    for num in range(start, end+1):
        if is_prime(num):
            prime_sum += num
    return prime_sum

print("Sum of all prime numbers between 10 and 1000:", sum_primes(10, 1000))

Sum of all prime numbers between 10 and 1000: 76110

# Qn:8. Find the factorial of an n!
(Hint, n=7: 7*6*5*4*3*2*1).

In [130]:
n = 7
factorial = 1

for i in range(1, n+1):
    factorial *= i

print(factorial) 
#this is not clear solution by chatgpt.

5040

# Qn:9. Reverse a given integer number 27956240710.

In [122]:
num=27956240710

In [123]:
str('27956240710')

'27956240710'

In [124]:
num_str[::-1]

'01704265972'

In [125]:
int(reversed_str)

1704265972

# Qn:11. Display the Fibonacci series of 15 elements using the for and while loop.

In [108]:
for x in range(15): #using for loop
    print('x = ', x)

x =  0
x =  1
x =  2
x =  3
x =  4
x =  5
x =  6
x =  7
x =  8
x =  9
x =  10
x =  11
x =  12
x =  13
x =  14

In [109]:
#while
i = 0
while i<15:
    print('hello world',i)
    i = i+1

hello world 0
hello world 1
hello world 2
hello world 3
hello world 4
hello world 5
hello world 6
hello world 7
hello world 8
hello world 9
hello world 10
hello world 11
hello world 12
hello world 13
hello world 14

# Qn:12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [97]:
Li = [1,3,5, [2,3], True]

In [ ]:
## Remove 2 and add 3

In [ ]:
li.remove(2)

In [ ]:
li.append(3)

In [ ]:
# Replace True with False

In [103]:
li[4]=False

In [107]:
print(Li)

[1, 3, 5, [2, 3], True]

# Qn:13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [ ]:
S1 = {1,4,6,8}

In [ ]:
S2 = {True, 1,2,10}

In [ ]:
S1.intersection(S2)

In [ ]:
{1}

# Qn:14. Input a list from the user then Remove duplicates from a list and create a set and find the max number.
#User_input = [1,9,3,4,5,200,54]

In [37]:
li=[1,9,3,4,5,200,54]

In [38]:
li

[1, 9, 3, 4, 5, 200, 54]

In [39]:
li[0]

1

In [40]:
li[2]

3

In [41]:
li[5]

200

In [42]:
li[-1]

54

In [43]:
li[2:6]

[3, 4, 5, 200]

In [44]:
li[-6:-3]

[9, 3, 4]

In [45]:
li

[1, 9, 3, 4, 5, 200, 54]

In [48]:
li.append('python')

In [64]:
li

[1, 9, 3, 4, 5, 200, 54, 'python']

In [66]:
li.insert(4,'science')

In [67]:
li

[1, 9, 3, 4, 'science', 5, 200, 54, 'python']

In [68]:
li.insert(0,'science')

In [69]:
li

['science', 1, 9, 3, 4, 'science', 5, 200, 54, 'python']

In [70]:
li.remove('science')

In [71]:
li

[1, 9, 3, 4, 'science', 5, 200, 54, 'python']

In [72]:
li.remove('science')

In [73]:
li

[1, 9, 3, 4, 5, 200, 54, 'python']

In [76]:
set(li) #creat set

{1, 200, 3, 4, 5, 54, 9, 'python'}

In [79]:
max_number = max('200')

In [80]:
print([1, 9, 3, 4, 5, 200, 54, 'python'])#without duplicate number

[1, 9, 3, 4, 5, 200, 54, 'python']

In [82]:
print('max_number',200)

max_number 200

# QN:15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
#Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [31]:
Dict = { "name": "Shakil", "age":27, "city": 'Berlin', "country": "Germany" }

In [35]:
Dict ['region'] =Dict.pop ('country')

In [36]:
print(Dict)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

# Qn:16.Test you Basic Python skills

In [ ]:
#Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [2]:
num = [10,100,300]

In [3]:
import pandas as pd

In [8]:
dif=pd.DataFrame({"number": num })

In [9]:
num

[10, 100, 300]

In [ ]:
#exmaple as:

# Qn:17. Change the value of a key in a given dictionary.
#Write a Python program to change ‘age’ to 28 in the following dictionary.

In [21]:
Dict = { "name": "Shakil", "age":27, "city": 'Berlin', "country": "Germany" }

In [27]:
Dict ['age']= 28

In [28]:
print(Dict)

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}